body{
    background-color: #332b2b;
}
.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content{
    flex: 1;
    /*min-height: 20vh;*/
}
h1{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 50%;
    min-width: 500px;
}

.score{
    padding: 5px;
    width: 90px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 5px;
}

.reset{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.1s ease-in;
}

.reset:hover{
    transform: scale(1.05);
    box-shadow: 0 0 2px rgb(142, 140, 143);
    cursor: pointer;
    background-color: #8f7f7f;
    color: black;
    text-transform: uppercase;
}

.icone-container{
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    min-width: 500px;
    margin: 0 auto;
    align-items: center;
}


.icone-child-container{
    display: flex;
    flex-direction: column;
}

.icone{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    min-width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: .1rem solid rgb(255, 255, 255);
    background-color: rgba(219, 216, 216, 0.877);
}
.logo{
    width: 80%;
}

.player-item:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgb(142, 140, 143);
    cursor: pointer;
}

.result{
    background-color: rgb(63, 63, 63);
    text-align: center;
    min-height: 100px;
}

.footer{
    display:flex;
    /*min-height: 40px;*/
    background-color: rgb(39, 39, 38);

}