body{
    background-color: #332b2b;
}

h1{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 50%;
    min-width: 400px;
}

.score{
    padding: 5px;
    width: 90px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 5px;
}

.reset{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.1s ease-in;
}

.reset:hover{
    transform: scale(1.05);
    box-shadow: 0 0 2px rgb(142, 140, 143);
    cursor: pointer;
    background-color: #8f7f7f;
    color: black;
    text-transform: uppercase;
}

.icone-container{
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    min-width: 400px;
    margin: 0 auto;
    align-items: center;
}


.icone-child-container{
    display: flex;
    flex-direction: column;
}

.icone{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    min-width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: .1rem solid rgb(255, 255, 255);
    background-color: rgba(219, 216, 216, 0.877);
}
.logo{
    width: 80%;
}

.player-item:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgb(142, 140, 143);
    cursor: pointer;
}

.playerPick{
    transform: translateX(10px);
    box-shadow: 10px 0px 5px rgb(221, 209, 101);
    transition: all 2s ease-out;   
}

.computerPick{
    transform: translateX(-10px);
    box-shadow: -10px 0px 5px rgb(113, 125, 230);
    transition: all 2s ease-out;   
}


.result{
    background-color: rgb(63, 63, 63);
    margin: 0 auto;
    min-height: 30px;
    max-width: 500px;
    border-radius: 4px;
}

.log{
    font-size: 18px;
    list-style-type: none;
    text-align: justify;
    padding-top: 2px;
    max-width: 500px;
}

@media only screen and (max-width:500px){
    .log{
        font-size: 16px;
    }
}

.finalLog{
    font-size: 25px;
    color:#ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 10px;
}
.tieLog{
    color: rgb(241, 185, 83);
}

.PlayerLog{
    color: rgb(106, 223, 83);
}

.ComputerLog{
    color: rgb(223, 83, 83);
}